$black: #000000;
$white: #FFFFFF;

$asparagus: #82934B; /* rgb 130, 147, 75 */
$carrot: #EF9421; /* rgb 239, 148, 33 */
$chrome: #E2EDD7; /* rgb 226, 237, 215 */
$dune: #363432; /* rgb 54, 52, 50 */
$elm: #1A6874; /* rgb 26, 104, 116 */
$geraldine: #F79B82; /* rgb 247, 155, 130 */
$picton-blue: #47C5E0; /* rgb 71, 197, 224 */
