$black: #000000;
$white: #FFFFFF;

$gin: #E6EEEB; /* rgb 230, 238, 235 */
$eden: #10503C; /* rgb 16, 80, 60 */
$lochinvar: #2C9382; /* rgb 44, 147, 130 */
$cloudy: #AAA9A8; /* rgb 170, 169, 168 */
$dove-gray: #6A6A6A;