@import '../../global-styles/main.scss';

.builder-content {
  padding: 20px 20px 50px;

  .red-text {
    color: $red;
  }
}

@include sm {
  .builder-content {
    padding: 20px 30px 60px;
  }
}

@include md {
  .builder-content {
    padding: 30px 50px 70px;
  }
}

//button styles
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  align-items: center;
  flex-direction: column;

  @include sm {
    flex-direction: row;
  }

  .clear-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px 0px;

    @include sm {
      margin: 20px 20px;
    }
  }
}
